doctype html
html(lang="ja")
  block vars
    - var title="タイトル"
    - var description="説明"
    - var ogpImage="https://dummyimage.com/1200x600/ff0000/0011ff.jpg"
    - var twitterName=""
    - var faviconUrl=""
    - var ogpUrl=""
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    meta(name="viewport" content="width=750,user-scalable=no")
    title #{title}
    meta(name="description" content=description)
    meta(property="og:title" content=title)
    meta(property="og:image" content=ogpImage)
    -if(!!ogpUrl)
      link(rel="canonical" href=ogpUrl)
    meta(name="twitter:card" content="summary_large_image")
    -if(!!twitterName)
      meta(name="twitter:site" content="@"+twitterName)
    meta(name="twitter:image" content=ogpImage)
    meta(name="twitter:description" content=description)
    -if(!!faviconUrl)
      link(rel="shortcut icon" href=faviconUrl)

    block styles
      link(rel="stylesheet" href=relRoot+"assets/css/style.css")
    block scripts
      script(src=relRoot+"assets/js/bundle.js")
      script(src=relRoot+"assets/js/common.js")
  body
    .l-wrapper
      .l-header
        .c-header-logo
          a(href=relRoot) ロゴ
      .l-main
        block main
      .l-footer.c-footer-area
        .c-footer-area__copyright
          |&copy; 20XX novogrammer
